<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona A Luxury Hotel</h1>
                    <p>Here are the best hotel booking site, including recommendations for international
                        travel.</p>
                    <a class="primary-btn" routerLink="/rooms">Check the Rooms</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" style="background-image: url('assets/images/hero/hero-1.jpg')"></div>
    </div>
</section>