


<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-card>
        <div class="container">
            <div class="row">
                <div class="inner-main">
                    <h2 class="mb-4">User Profile</h2>
                    <p><strong>Name:</strong> {{this.currentUser.name}}</p>
                    <p><strong>Email:</strong> {{this.currentUser.email}}</p>
                </div>
            </div>
            
        </div>
    </mat-card>
</mat-drawer>
    <mat-drawer-content><mat-card><app-rooms-list></app-rooms-list></mat-card></mat-drawer-content>
  </mat-drawer-container>